.where-to-buy {
    padding-top: $global-padding;
    color: get-color(brand-purple);

    @include breakpoint(large) {
        padding-top: rem-calc(150);
    }

    .body {

        p {

            @include breakpoint(large) {
                padding-right: $global-padding*4;
            }
        }

        .zip-code {
            align-items: flex-end;

            input[type="text"],
            select {
                margin-bottom: $global-margin;

                @include breakpoint(large) {
                    margin-bottom: 0;
                }
            }

            button {
                margin-bottom: rem-calc(2);
            }
        }

        hr {
            margin: $global-margin 0;
        }

        .map {
            margin-bottom: $global-margin;

            @include breakpoint(large) {
                margin-bottom: $global-margin*4;
            }
        }
    }

    .retailer-logos {
        background: $medium-gray;
        padding: $global-padding;

        h3 {
            margin-bottom: $global-margin*2;
            text-align: center;
        }

        .logos {
            justify-content: center;

            .cell {
                text-align: center;

                img {
                    width: 70%;
                    margin-bottom: $global-margin;

                    @include breakpoint(medium) {
                        width: 80%;
                    }

                    @include breakpoint(large) {
                        width: 100%;
                        margin-bottom: 0;
                    }
                }

                &:last-child img {
                    margin-bottom: 0;
                }

                &:nth-last-child(2) img {

                    @include breakpoint(medium only) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
