@font-face {
	font-family: 'ElegantIcons';
	src:url('../fonts/elegant_font/ElegantIcons.eot');
	src:url('../fonts/elegant_font/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/elegant_font/ElegantIcons.woff') format('woff'),
		url('../fonts/elegant_font/ElegantIcons.ttf') format('truetype'),
		url('../fonts/elegant_font/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}
